/*------------------------------------------------------------------------
# Stack Drupal
# ------------------------------------------------------------------------
# Created by Symphony Themes
# Websites:  http://www.symphonythemes.com -  Email: info@symphonythemes.com
--------------------------------------------------------------------------
    1.   Custom CSS
    2.   Forms
    3.   Blog & Article
    4.   Portfolio & Project
    5.   Others
--------------------------------------------------------------------------------*/

/* 01. Custom CSS
 --------------------------------------------------------------------------------*/

/* Adaption */
body {
    margin-top: 0px;
}
nav.tabs {
  margin-top: 80px;
}
ol.process-3 {
  padding-left: 0;
}
section .row--gapless div[class*="col-"] {
    padding: 0;
}
.btn .label { position: absolute; }
.label { line-height: inherit; }

.modal-instance .video-play-icon + span { bottom: -10px; }
.modal-instance .video-play-icon.video-play-icon--xs + span { bottom: 3px; }
@media all and (min-width: 768px) { .video-1 h2 { bottom: -15px; } }

section:not(.image--light) .slider[data-paging="true"] .flickity-page-dots .dot {
    background: #fff;
}
section .slider[data-paging="true"] .flickity-page-dots {
    bottom: 1.85714286em;
}
.slider.unmarg { margin: 0 !important; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #252525;
  text-decoration: none;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  text-decoration: none;
}
h2 a { font-weight: 300; }
h5 a, h6 a { font-weight: 600; }
[data-scrim-top]:not(.image--light) h1 a, 
[data-scrim-top]:not(.image--light) h2 a, 
[data-scrim-top]:not(.image--light) h3 a, 
[data-scrim-top]:not(.image--light) h4 a, 
[data-scrim-top]:not(.image--light) h5 a, 
[data-scrim-top]:not(.image--light) h6 a {
  color: #fff;
}
p a, span a, label a {
  text-decoration: none;
}

/* Sidebar */
.sidebar .block:not(:last-child) {
  margin-bottom: 3.71428571em;
}
.sidebar .block h2 {
  font-weight: 600;
  font-size: 1em;
  line-height: 1.85714286em;
}

/* Header */
#block-customblocktrybuiderbuynowbutton {
  margin-top: 30px;
}
@media all and (min-width: 769px) {
  #block-mainnavigation {
    display: inline-block;
    margin-botom: 5px;
  }
  #block-customblocktrybuiderbuynowbutton {
    display: inline-block;
    margin-left: 30px;
	margin-top: 0;
	overflow: visible;
  }
}
.bar .logo { top: 3px; }

/* Footer */
@media (min-width: 768px) {
  footer .footer-3 .row:last-child,
  footer .footer-4 .row:last-child {
    margin-top: 1.85714286em;
  }
}
footer {
  padding-top: 0;
  padding-bottom: 0;
}

/*--------------------------------------------------------------------------------*/

/* 02. Forms
 --------------------------------------------------------------------------------*/

button#edit-submit,
button#edit-subscribe {
  background: #4a90e2;
  border-color: #4a90e2;
  text-transform: uppercase;
  color: #fff;
}

/* Comment form */
form.comment-form button#edit-preview { display: none; }
form#comment-form textarea {
  padding: 16px 20px;
  background: #f5f5f5 none repeat scroll 0 0;
}
form#comment-form select#edit-comment-body-0-format--2 {
  background: #f5f5f5 none repeat scroll 0 0;
}
form#comment-form button#edit-submit {
  float: right;
  max-width: 25%;
  margin-right: 0;
}
.region-content ul.links {
  padding-top: 24px;
  text-transform: uppercase;
}
article.comment:first-child {
    border-radius: 6px 6px 0 0;
}
.comment article.comment:first-child {
    border-radius: 0;
}
article.comment:nth-child(2n+1) {
    background: #fcfcfc;
}
article.comment {
    padding: 2.78571429em;
    border: 1px solid #ececec;
    border-bottom: none;
	margin: 10px 0;
}
article.comment:last-child {
    border-radius: 0 0 6px 6px;
    border-bottom: 1px solid #ececec;
}
.indented article.comment {
  margin-left: 15%;
}

/* Search form */
#search-form .search-help-link { display: none; }
#search-block-form .input-group {
  width: 100%;
}

/* Contact form */
@media all and (min-width: 768px) {
#block-sitewidecontactform .form-type-textfield,
#block-sitewidecontactform .form-type-email {
  width: 47.5%;
  display: inline-block;
}
#block-sitewidecontactform .form-type-textfield {
  margin-right: 4%;
}
#block-sitewidecontactform .form-item label {
  float: left;
}
#block-sitewidecontactform button[type=submit] {
  width: 33%;
  float: left;
  letter-spacing: .5px;
  margin-right: -0.5px;
  text-transform: uppercase;
  background: #4a90e2;
  border-color: #4a90e2;
}
}
#block-sitewidecontactform textarea {
  background: #fcfcfc;
  border: 1px solid #ececec;
}
#block-sitewidecontactform button#edit-preview {
  display: none;
}

/* Register form */
.register-horizontal #user-register-form .form-item {
  width: 45%;
  display: inline-block;
  float: left;
  margin-right: 5%;
}
.register-horizontal #user-register-form .form-actions,
.register-horizontal #user-register-form .form-item.js-form-item-pass {
  width: 100%;
}

/* Login form */
.page-node-type-full-page #block-userlogin ul { display: none; }
#block-userlogin, 
#block-userregistrationform,
#block-requestnewpasswordform {
  margin-bottom: 1.08333333333334em;
}
#block-userlogin button#edit-submit { 
  background: #4a90e2;
  border-color: #4a90e2;
}
#block-userlogin button#edit-submit:hover {
  background: #609de6;
}

/* Subscribe form */
#block-simplenewssubscription .field--name-mail .form-type-email label {
  display: none;
}

.subscribe-inline #block-simplenewssubscription #edit-actions {
  margin-top: 10px;
}
.tooltip {
}
.tooltip-inner {
  float: left;
  overflow: hidden;
}
@media all and (min-width: 768px) {
.subscribe-inline #block-simplenewssubscription .field--type-email {
  width: 75%;
  float: left;
}
.subscribe-inline #block-simplenewssubscription .field--type-email input {
  height: 40px;
}
.subscribe-inline #block-simplenewssubscription #edit-actions {
  width: 22%;
  float: left;
  margin-left: 3%;
  margin-top: 5px;
}
body.user-logged-in .subscribe-inline #block-simplenewssubscription #edit-actions {
  width: 100%;
  margin-left: 0;
}
}
/*--------------------------------------------------------------------------------*/

/* 03. Blog & Article
 --------------------------------------------------------------------------------*/

/* Article Detail */
.icon.glyphicon {
  font-size: 12px;
}
.field--name-field-blog-category {
  display: inline;
}
.field--name-field-image,
.field--name-field-video {
  margin-bottom: 1.85714286em;
}
.imagebg-content-article {
  padding: 5.57142857em 0;
}

.article__author .field--name-user-picture {
  width: 3.71428571em;
  height: 3.71428571em;
  margin: 0 auto;
}
.field--name-field-tags {
  margin-top: 20px;
}
.field--name-field-tags .field--item {
  display: inline-block;
  margin-left: 7px;
}

/* Article List */
.feature-1 a img {
    border-radius: 6px 6px 0 0;
}

/* Blog Tags */
.view-blog-tags .views-row {
  display: inline-block;
  padding-right: 10px;
}

/*--------------------------------------------------------------------------------*/

/* 04. Portfolio & Project
 --------------------------------------------------------------------------------*/

/* Portfolio Detail */
.page-node-type-project h1.page-header {
    padding-top: 2em;
    padding-bottom: 2em;
}
.page-node-type-project .block-views-blockportfolio-related-block-1 {
  margin-top: 7.42857143em;
}

/* Portfolio List */
.view-portfolio-lists .masonry__item img {
  border-radius: 6px;
}
.portfolio-fullwidth .masonry__item {
  margin: 0 !important;
  padding: 0 !important;
}
.portfolio-fullwidth hr {
  display: none;
}
.project-images {
  padding-top: 40px;
}

/*--------------------------------------------------------------------------------*/

/* 05. Others
 --------------------------------------------------------------------------------*/

/* Career Detail */
.page-node-type-job h1.page-header {
  padding-top: 2em;
  padding-bottom: 2em;
  margin-bottom: 0;
}

/* Toolbar menu */
.toolbar-menu .toolbar-box span {
  background: none;
}

/* Nav Tab */
.user-logged-in nav.tabs {
  position: fixed;
  left: 0;
  top: 80px;
  transition: all 0.5s ease 0.25s;
  z-index: 1000;
} 
.user-logged-in nav.tabs ul.tabs--primary {
  background: #fff none repeat scroll 0 0;
  border: medium none;
  list-style: outside none none;
  opacity: 0.9;
}
.user-logged-in nav.tabs ul.tabs--primary li {
  float: none;
  opacity: 0.8;
  padding: 0;
}
.user-logged-in nav.tabs ul.tabs--primary li a {
  margin-right: 0;
}
.user-logged-in nav.tabs ul.tabs--primary li.active a, 
.user-logged-in nav.tabs ul.tabs--primary li:hover a {
  background: #ffb500 none repeat scroll 0 0;
  border: none;
  border-radius: 0;
  color: #fff;
}
.user-logged-in nav.tabs ul.tabs--primary li.active, 
.user-logged-in nav.tabs ul.tabs--primary li:hover {
  opacity: 1;
}

/* Check box/ radio */
.form-type-checkbox,
.form-type-radio,
.input-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
}
.form-type-checkbox input,
.form-type-radio input{
  opacity: 1 !important;
  height: auto !important;
  width: auto !important;
  position: absolute !important;
  margin-top: 7px;
  
}
.form-type-checkbox input {
  -webkit-appearance: checkbox;
}
.form-type-radio input {
  -webkit-appearance: radio;
}
.form-type-checkbox {
  padding: 0;
}
.form-type-radio {
  padding: 0;
}
.form-type-checkbox {
  margin-top: 0.46428571em;
}


